@font-face{
    font-family: Oxigen;
    src:url(./fonts/Oxygen/Oxygen-Bold.ttf); 
}
html, body, #map {
    width: 100%;
    height: 95.9%;
    padding: 0;
    margin: 0;
}
html, body {
    background-color: #ffffff;
}
.tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
  }
  .tooltip-measure {
    opacity: 1;
    font-weight: bold;
  }
  .tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
  }
  .tooltip-measure:before,
  .tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
  }
  .tooltip-static:before {
    border-top-color: #ffcc33;
  }
  .measure-control {
    top: 100px;
    left: .5em;
  }
  .ol-touch .measure-control {
    top: 130px;
  }
  .navTitle{
      font-family: 'Oxygen', sans-serif;
      
      
  }
  @media screen and (min-width: 1200px) {
    .navTitle {
		display:flex;
       font-size: 24px;
    }
  }
  .menu-bar{
      background-color: #17882c;
  }
  .navbar{
      background-color: #00510f;
      
  }
  .brasao-ufra{
      height: 3.5rem;
      width: 3.5rem;
  }
  
  .nav-link{
      color: #01373f;
      background-color: #72a51c;
      -webkit-transition: all 2s ; /* Safari */
        transition: all 2s;
  }
  .dropdown-menu{
    background-color: #72a51c;

  }
.nav-link:hover{
    color: white !important;
    background-color: #007BFF;
    border-color: #ffffff;
}
.nav-item{
    padding-left: 5px; 
    margin-right: 15px;
}
.show li{
    padding-bottom: 5px;
}
.collapsing li{
    padding-bottom: 5px;
}
.dropdown-item:hover{
    background-color: #007BFF;
}
.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

