@font-face{
    font-family: Oxigen;
    src:url(./fonts/Oxygen/Oxygen-Bold.ttf); 
}
.layer-switcher.shown.ol-control {
    background-color: transparent;
}

.layer-switcher.shown.ol-control:hover {
    background-color: transparent;
}

.layer-switcher {
    position: absolute;
    top: -0.2em;
    right: 0em;
    text-align: left;
}

.layer-switcher.shown {
    bottom: 3em;
}

.layer-switcher .panel {
    padding: 0 1em 0 0;
    margin: 0;
    border: 4px solid lightgray;
    border-radius: 4px;
    background-color: white;
    max-height: 107%;
    display: none;
    overflow-y: auto;
}

.layer-switcher.shown .panel {
    display: block;
}
.closeBar {
    display: "inline";
    height: 16px;
    width: 16px;
    float: right;
}
.layer-switcher button{
    float: right;
    width: 38px;
    height: 38px;
    background-image: url('../Layout-Images/button.png') /*logo.png*/;
    background-repeat: no-repeat;
    background-position: 2px;
    background-color: white;
    border: none;
}

.layer-switcher.shown button {
    display: none;
}

.layer-switcher button:focus, .layer-switcher button:hover {
    background-color: white;
}

.layer-switcher ul {
    padding-left: 1em;
    list-style: none;
}

.layer-switcher li.group {
    padding-top: 5px;
}

.layer-switcher li.group > label {
    font-weight: bold;
}

.layer-switcher li.layer {
    display: table;
}

.layer-switcher li.layer label, .layer-switcher li.layer input {
    display: table-cell;
    vertical-align: sub;
}

.layer-switcher input {
    margin: 4px;
}

.layer-switcher.touch ::-webkit-scrollbar {
    width: 4px;
}

.layer-switcher.touch ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.layer-switcher.touch ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.panel h4{
    font-family: 'Oxigen', sans-serif;
    text-align: center;
    font-size: 2em;
}
.panel #mappea-logo{
    display: flex;
    justify-content: center;
}
#information p{
    width: 18em;
    padding: 1em;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    
}
#siga-nos a{
    padding: 1em;
}
#siga-nos img{
    width: 30px;
    height: auto;
}
#siga-nos-images{
    display: flex;
    justify-content: center;
}
